
.video{
    width: 100%;
    height: 25em;
    margin-bottom: 0px;
}

.btn-w{
    width: 10rem;
}

.img-w{
    width: 250px;
    height: 190px;
}

.section{
    background: linear-gradient(274.3deg, #E1D4C4 0%, #FBF7F2 100%);
}

.section2{
    background:white;
    height: 400px;
}

.logo{
    font-family: 'Lobster', cursive;
}

.transparencia{
    background-color: transparent;
}

.espacio{
    margin-bottom: 100px;
}

.imagenes{
    position: absolute;
    width: 250px;
    height: 250px;
    left:0px;
    top:-100px;
}

.escritura{
    position:absolute;
    width:257px;
    height: 24px;
    left: 0px;
    top: 152px;
}
.escritura2{
    position: absolute;
    width: 258px;
    height: 40px;
    left: 0px;
    top:188px;
}

.subtitulo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
}

.titulo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
}

.tipoletraparrafo1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.parrafo1{
    width: 446px;
    height: 40px;
    left: 118px;
    top: 748px;
}